@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background-color: #FFFFFF;
}

body{
    /* height: 100vh; */
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(180deg, #0EB4D9 0%, #FFFFFF 73.77%);
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

/*************
Typography
*************/
h1 {
    font-size: 3.6em;
    font-weight: 700;
    margin:0;
}

.gradient {
    background-image: linear-gradient(
        60deg, 
        #ff09d3,
        #f4fdce,
        #970819
        );
        background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header p {
    font-weight: 800;
    font-size: 1.2em;
}


.highlight-1 {
    color: #ff0;
}

.highlight-2 {
    color: #ff1ad6;
}

.journal-title{
    color: #6979a7;
    font-size: 18px;
    margin: 10px 0 0;
    
}

/******
Layout
******/
header{
    padding: 20px 10px;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 10px; */

}
.container{
    width: 60%;
    margin:0 auto;
    padding: 10px 50px;
}

input {
    border-radius: 6px;
    border: none;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin:30px 10px 20px 0;
}


.input-container {
    margin-right: 20px;
}

input:focus {
    outline: 2px solid #6979a7;
}

#emoji-container{
    border: 2px solid rgb(105, 121, 167, 0.5);
    border-radius: 10px;
    padding: 3px;
    width: 90%;
    min-width: 60%;
    margin: 10px auto;
    height:200px;
    overflow-y: scroll;
    scroll-behavior: auto;
    background-color: rgba(255,255,255,0.3);
}

.emoji {
    font-size: 16px;
    margin: 1px;
    padding: 5px;
    border: 1px solid rgba(129, 171, 211, 0.4);
    border-radius: 4px;
    box-sizing: content-box;
    background-color: rgba(255,255,255,0.2);
}

.journal{
    border: 2px solid #6979a7;
    border-radius: 10px;
    margin: 40px auto;
}

#list-container {
    padding: 20px;
    display: block;
}

#list-container li{
    list-style: none;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid #6979a7;

}

.date{
    color: #f1efef;
    background-color: #6979a7;;
    margin-left: 10px;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    position: absolute;
    top: -12px;
    border-radius: 3px;
}

#list-container li:nth-child(1){
    border: none;
    border-top: 1px solid #6979a7;
    border-bottom: 1px solid #6979a7;
}

.entry{
    font-size: 25px;
    text-align: left;
    padding: 8px;
}

footer{
    background: #242e4d;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: none;
    margin: 0;
    padding: 30px; 
    box-sizing: border-box;
}

/********
Scrollbar
********/
::-webkit-scrollbar{
    width: 10px;
    background-color: #6979a7;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #6979a7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: #242e4d;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #34436e;
}

/******
BUTTON
******/
button:focus{
    outline: 2px solid #6979a7;
}

.btn{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    border: none;
    padding: 10px 35px;
    border-radius: 6px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.save-btn {
    background-color: #6979a7;    
    margin-right: 5px;
}
.save-btn:hover {
    background-color: #7d8fc4;
}


.delete-btn {
    font-size: 0.6em;
    padding: 10px 20px;
    background-color: #aa0606;
    padding: 10px 20px;
    margin: 100px 0 20px;
}
.delete-btn:hover {
    background-color: #d30808;
}


/*************
Media Queries
*************/
@media screen and (max-width: 750px){
    main{
        flex-direction: column;
        margin: auto;
    }

    .input-container{
        margin: 0;
    }

    .save-btn{
        margin: 0 auto 10px;
    }
}
